---
import Layout from "../layouts/Layout.astro";
import ResourcesHero from "../sections/ResourcesHero.astro";
import AudeSapere from "../sections/AudeSapere.astro";
import RecommendedReading from "../sections/RecommendedReading.astro";
import TrustedOrganizations from "../sections/TrustedOrganizations.astro";
---

<Layout
  title="Homeopathy Resources & Recommended Reading | Divine Health Homeopathy"
  description="Explore trusted homeopathy organizations, research resources, foundational books, recommended reading, and educational materials selected by Divine Health Homeopathy."
>
  <main>
    <ResourcesHero />
    <AudeSapere />
    <RecommendedReading />
    <TrustedOrganizations />
  </main>
</Layout>