<footer class="site-footer">
  <p>&copy; 2026 Divine Health Homeopathy</p>

  <p>
    <a href="mailto:mindy@divinehealthhomeopathy.com">
      Mindy@DivineHealthHomeopathy.com
    </a>
  </p>

  <p>
    <a href="tel:7347676085">
      (734) 767-6085
    </a>
  </p>
</footer>